node_modules/
.expo/
.expo-shared
.vscode
assets
app.json
package.json
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
app.json
babel.config.js
package-lock.json


# macOS
.DS_Store